.wishlists-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 15px;
  margin: 0 auto;
  height: calc(100vh - 100px);

  h2 {
    margin: 0;
  }

  button {
    width: fit-content;
  }
}