@use './variables' as *;

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  row-gap: $gap;
}

@mixin input-style {
  padding: $input-padding;
  border-radius: $input-radius;
  border-style: ridge;
  border-color: $color-input-border;
}

@mixin error-style {
  display: flex;
  font-size: $error-font-size;
  padding-left: $error-padding-left;
  color: $color-error;
}

@mixin button-disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  opacity: 0.6;
}

@mixin button-spinner {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}