@use '../abstracts/' as *;

button {
  border-radius: $button-border-radius;
  border: $button-border;
  padding: $button-padding;
  font-size: $button-forn-size;
  font-weight: $button-font-weight;
  font-family: $button-font-family;
  transition: $button-transition;
  cursor: $button-cursor;
  background-color: $theme-light-button-background-color;
  color: $theme-light-text-primary-color;
}

.dark button {
  background-color: $theme-dark-button-background-color;
  color: $theme-dark-text-primary-color;
}

button:not(:disabled):hover {
  border-color: #646cff;
}

button:disabled {
  @include button-disabled;
}

.button-spinner {
  @include button-spinner;
  animation: spin 1s linear infinite;
  border: $light-button-spinner-border;
  border-top-color: $light-button-spinner-border-top;
}

.dark .button-spinner {
  border: $dark-button-spinner-border;
  border-top-color: $dark-button-spinner-border-top;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
